deposit sequence.json
OpenDropV42.ino
OpenDropController4_25/electrodes_crea.json
OpenDropController4_25/electrodes_glass_fun_inv.json
OpenDropController4_25/electrodes_glass_fun.json
OpenDropController4_25/electrodes_glass_new_inv.json
OpenDropController4_25/electrodes_glass_new.json
OpenDropController4_25/electrodes_glass_newfun_inv.json
OpenDropController4_25/electrodes_glass_newfun.json
OpenDropController4_25/electrodes_glass.json
OpenDropController4_25/electrodes_magnet.json
OpenDropController4_25/electrodes_opto.json
OpenDropController4_25/electrodes_verve.json
OpenDropController4_25/electrodes.json
OpenDropController4_25/OpenDropController4_25.pde
OpenDropController4_25/OpenDropFrame.png
OpenDropController4_25/sketch.properties
OpenDropController4_25/data/new.json
